<%= display_header title: t('navigation.branches'),
                   breadcrumbs: [t('navigation.branches')] do %>

  <% if user_can_administer_taxonomy? %>
    <a href="<%= edit_all_branches_path %>"
       class="btn btn-default btn-lg pull-right"
       role="button">
      Edit branches
    </a>
  <% end %>
<% end %>

<table class="table queries-list table-bordered table-striped">
  <thead>
    <tr class="table-header">
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% GovukTaxonomy::Branches.new.all.each do |taxon| %>
      <tr>
        <td>
          <a href="<%= branch_path(taxon['content_id']) %>">
             <%= taxon['title'] %>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
