<% (children || []).each do |child| %>
  <li>
    <%= link_to child[:name], taxon_path(child[:content_id]) %>
    <span class='taxon-size-bar'
          style='width: <%= page.taxonomy_size.bar_width_percentage(child[:size]) %>%'>
      <%= child[:size] %>
    </span>
    <span class='taxon-size'></span>
  </li>
  <ul>
    <%= render partial: "list_children", locals: { page: page, children: child[:children] } %>
  </ul>
<% end %>
