<h1>You are about to delete "<%= taxon.title %>"</h1>

<%= render partial: 'deletion_warning',
  locals: { taxon: taxon, children: children, tagged: tagged } %>

<% if children.any? %>
  <%= render partial: 'children', locals: { children: children } %>
<% end %>

<% if tagged.any? %>
  <%= render partial: 'tagged_content', locals: { tagged: tagged } %>
<% end %>
