<header class="heading-with-actions">
  <h1><%= taxon.title %></h1>
</header>

<div class="lead">
  You are about to <strong>publish</strong> this topic - this will make the
  topic appear to everyone on GOV.UK.
</div>

<div class="confirmation-box">
  <%= button_to "Confirm publish",
  taxon_publish_path(taxon.content_id),
  class: "btn btn-lg btn-success" %>

  <%= link_to "Cancel", taxon_path(taxon.content_id), class: "cancel-link" %>
</div>
