<header class="heading-with-actions">
  <h1><%= taxon.title %></h1>
</header>

<div class="lead">
  You are about to <strong>delete</strong> the draft version of this topic.
</div>

<div class="confirmation-box">
  <%= button_to "Confirm delete",
  taxon_discard_draft_path(taxon.content_id),
  method: :delete,
  class: "btn btn-lg btn-success" %>

  <%= link_to "Cancel", taxon_path(taxon.content_id), class: "cancel-link" %>
</div>
