<header class="heading-with-actions">
  <h1><%= page.title %></h1>
</header>

<div class="lead">
  You are about to <strong>publish</strong> this topic and its children - this will make these
  topics appear to everyone on GOV.UK.
</div>

<%= render "taxonomy_tree", page: page %>

<div class="confirmation-box">
  <%= button_to "Confirm publish",
  taxon_bulk_publish_path(page.taxon_content_id),
  class: "btn btn-lg btn-success" %>


  <%= link_to "Cancel", taxon_path(page.taxon_content_id), class: "cancel-link" %>
</div>
