<%= form_tag("/analytics", method: "get") do %>
  <div class="input-group" style="min-width: 30em;">
    <%= select_tag :users,
                   options_for_select(page.filter_by_user_options, params[:users]),
                   multiple: true,
                   placeholder: "Filter by user",
                   class: ['select2', 'form-control'] %>
    <span class="input-group-btn">
      <%= submit_tag "Filter", class: 'btn btn-default' %>
    </span>
  </div>
<% end %>
