.state-box {
  .state {
    font-weight: bold;
    margin-right: 40px;
    display: inline-block;
  }

  .delete-link {
    float: right;
  }
}

.confirmation-box {
  padding-top: 2em;
  padding-bottom: 2em;

  form {
    display: inline-block;
  }

  .cancel-link {
    margin-left: 40px;
  }
}
