<%= display_header title: "Facet groups", breadcrumbs: ["Facet groups"] %>

<table class="table queries-list table-bordered table-striped">
  <thead>
    <tr class="table-header">
      <th>
        State
      </th>
      <th>
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <% @facet_groups.each do |group| %>
    <tr>
      <td>
        <span class="label add-right-margin state-label--<%= group.state %>">
          <%= group.state %>
        </span>
      </td>
      <td>
        <span class="add-right-margin">
        <%= link_to group.title, lookup_facet_group_facet_taggings_path(facet_group_content_id: group.content_id) %>
        </span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
