<ul>
<% @facet_group.facets.each do |facet| %>
  <li>
    <h3><%= facet.title %></h3>
    <ul>
    <% facet.facet_values.each do |facet_value| %>
      <li><%= facet_value.title %></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ul>
