<tr class="table-header if-no-js-hide table-header-secondary">
  <th colspan='7'>
    <form class='table-filter has-feedback'>
      <input id="table-filter" type="text" class="form-control normal js-filter-table-input" placeholder="Filter table">
      <i class="glyphicon glyphicon-refresh form-control-feedback spinner" style="display: none"></i>
    </form>
  </th>
</tr>
