<div class="callout <%= callout_presenter.callout_class %>">
  <div class="callout-title">
    <%= callout_presenter.callout_title %>
  </div>
  <div class="callout-body">
    <h1><%= raw callout_presenter.title %></h1>
  </div>
</div>
