<header class="heading-with-actions">
  <h1><%= project.name %></h1>
</header>

<div class="lead">
  You are about to permanently <strong>delete</strong> this project - this
  action will remove all unsaved progress.
</div>

<div class="confirmation-box">
  <%= button_to "Confirm delete",
    project_path(project),
    method: :delete,
    class: "btn btn-danger add-right-margin" %>

  <%= link_to "Cancel", :back, class: "cancel-link" %>
</div>
