<%= display_header title: 'Copy Taxons', breadcrumbs: ['Copy Taxons'] %>

<table class="table queries-list table-bordered" data-module="filterable-table">
  <thead>
    <tr class="table-header">
      <th>Title</th>
      <th>Content ID</th>
      <th>Link Type</th>
    </tr>
  </thead>

  <tbody>
    <% taxons.each do |taxon| %>
      <tr>
        <td><%= taxon.title %></td>
        <td><%= taxon.content_id %></td>
        <td><%= taxon.link_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
