<%= display_header title: 'Copy Taxons', breadcrumbs: [
  link_to(I18n.t('navigation.bulk_tag'), new_bulk_tag_path),
  link_to(I18n.t('navigation.tag_importer'), tagging_spreadsheets_path),
  I18n.t('views.taxons.copy_taxon')
  ] %>

<table class="table queries-list table-bordered" data-module="filterable-table">
  <thead>
    <tr class="table-header">
      <th>Taxon</th>
      <th>Content ID</th>
      <th>Link Type</th>
    </tr>
  </thead>

  <tbody>
    <% taxons.each do |taxon| %>
      <tr>
        <td><%= taxon.internal_name %></td>
        <td><%= taxon.content_id %></td>
        <td>taxons</td>
      </tr>
    <% end %>
  </tbody>
</table>
