<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <i class="glyphicon glyphicon-info-sign"></i>
      How to generate a Google Spreadsheet URL
    </div>
  </div>
  <div class="panel-body">
    <p>In order to create a publicly available Google Spreadsheet URL, follow these instructions:</p>
    <ul>
      <li>Find your spreadsheet in Google Drive</li>
      <li>Click in the File menu and select the Publish to the web option</li>
      <li>In the Link tab, select the the sheet you want to make public in the first dropdown and tab-separated values in the second dropdown</li>
      <li>Finalise by clicking Publish and copying the link</li>
    </ul>
    <p class='explain'>
      See the <%= link_to "example spreadsheet",
        "https://docs.google.com/spreadsheets/d/1qUajhROscOjcPzuDc9tpEnVsBZCJSfO6Ctkcwh9EgvY/pub?gid=0&single=true&output=tsv" %>
        for the correct format.
    </p>
  </div>
</div>
