<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <i class="glyphicon glyphicon-info-sign"></i>
      How to generate a Google Spreadsheet URL
    </div>
  </div>
  <div class="panel-body">
    <p>In order to create a publicly available Google Spreadsheet URL, follow these instructions:</p>
    <ul>
      <li>Click <strong>File > Publish to the web</strong></li>
      <li>In the <strong>Link</strong> tab, select the sheet you want to make public in the first dropdown and <strong>Tab-separated values (.tsv)</strong> in the second dropdown</li>
      <li>Finalise by clicking <strong>Publish</strong> and copying the link</li>
    </ul>

    <p class='explain'>
      See the <%= link_to "example spreadsheet",
        "https://docs.google.com/spreadsheets/d/1qUajhROscOjcPzuDc9tpEnVsBZCJSfO6Ctkcwh9EgvY/pub?gid=0" %>
        for the correct format.
    </p>
  </div>
</div>
