$light-gray: #f1f1f1;
$red: #b10e1e;

@import 'select2';
@import 'select2-bootstrap';
@import 'govuk_admin_template';
@import 'heading';
@import 'tag-update-preview';
@import 'forms';
@import 'taxonomy-tree';
@import 'related-item-tagging';
@import 'views/taxon';
@import 'views/bubbles';
@import 'tagathon_project';

.error-message {
  color: $red;
}

.explain {
  color: $gray;
}

.tag-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $light-gray;

  // TODO: our current form-builder doesn't allow the labels to be removed.
  // Remove this once we've migrated to using `simple_form`.
  label {
    display: none;
  }
}

// taxons page

.nav.nav-tabs {
  margin-bottom: 20px;
}
