$light-gray: #f1f1f1;
$red: #b10e1e;

@import 'select2';
@import 'select2-bootstrap';
@import 'govuk_admin_template';
@import 'heading';
@import 'tag-update-preview';
@import 'forms';
@import 'taxonomy-tree';
@import 'views/taxon';
@import 'views/bubbles';
@import 'tagathon_project';

.error-message {
  color: $red;
}

.explain {
  color: $gray;
}

.tag-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $light-gray;

  // TODO: our current form-builder doesn't allow the labels to be removed.
  // Remove this once we've migrated to using `simple_form`.
  label {
    display: none;
  }
}

.state-table {
  th {
    font-weight: normal;
  }

  tbody {
    font-size: 36px;
  }
}

.phase-label--alpha {
  background-color: #D53880;
}

.phase-label--beta {
  background-color: #F47738;
}

.phase-label--live {
  background-color: $brand-success;
}

.state-label--draft {
  background-color: #FFBF47
}

.state-label--published {
  background-color: $brand-success;
}

.state-label--deleted  {
  background-color: $gray-light;
}

.field-with-error {
  border: 2px solid $state-danger-text;
}

.error-block {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  color: $state-danger-text;
}

.vertical-drag {
  cursor: ns-resize;
}

// taxons page

.nav.nav-tabs {
  margin-bottom: 20px;
}
