$light-gray: #f1f1f1;
$red: #b10e1e;

@import 'select2';
@import 'select2-bootstrap';
@import 'govuk_admin_template';
@import 'heading';
@import 'tag-update-preview';
@import 'forms';
@import 'taxonomy-tree';
@import 'related-item-tagging';
@import 'views/taxon';
@import 'vendor/datatables.min';

.error-message {
  color: $red;
}

.view-on-site {
  font-size: 20px;
  margin-bottom: 10px;

  a:after {
    content: "\A0\A0\A0";
    background: url("external-link.png") no-repeat right top;
    display: inline-block;
    line-height: 12px;
    margin-left: 5px;
  }

  a:hover:after {
    background-position: right -388px;
  }
}

.explain {
  color: $gray;
}

.tag-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $light-gray;

  // TODO: our current form-builder doesn't allow the labels to be removed.
  // Remove this once we've migrated to using `simple_form`.
  label {
    display: none;
  }
}

.left-space {
  margin-left: 5px;
}

// taxons page

.nav.nav-tabs {
  margin-bottom: 20px;
}

// for the experimental tagging history
.filters {
  margin-bottom: 20px;
  a {
    text-decoration: underline;
  }
}
