.new_facets_tagging_update_form {
  .facets_tagging_update_form_notification_message {
    display: none;
    .help-inline {
      display: block;
    }
  }
  .facets_tagging_update_form_notification_message.has-error {
    display: block;
  }
  .form-group.boolean {
    div {
      display: inline;
      float: left;
      margin-right: 10px;
    }
    label {
      display: inline;
    }
  }
  .tag-section label {
    display: block;
  }
}
