.ordered-related-items {
  width: 100%;

  .related-content-item-entry {
    width: 100%;
  }

  // hide for non-javascript people
  .title,
  .add-sortable-input {
    display: none;
  }

  .add-sortable-input {
    padding-top: 10px;
  }

  .has-error {
    border: 2px solid $red;
  }

  .related-item-error-message {
    display: none;
  }
}

.sortable-list {
  .glyphicon {
    padding-left: 10px;
    vertical-align: middle;
    float: right;
  }
}
