.tagathon-project-content-list {
  form {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 20px;
    border-width:1px 0 0 0;

    a {
      font-size: 1.2em;
    }

    .project_content_item_taxons {
      margin: 20px 0;
    }

    &.error-saving {
      background-color: #ffb6b6;
      transition: background-color 1s;
    }
  }
}

.tagathon-project-bulk-tagger {
  .nav label {
    margin-bottom: 0;
  }

  .nav.nav-tabs .active a {
    background-color: #eee;
  }

  form {
    padding: 20px;
    background-color: #eee;
    margin-top: -21px;
  }
}
