.tagathon-project {
  position: relative;

  input[type='checkbox'] {
    transform: scale(1.5);
    margin-right: 5px;

    &.content-selector {
      position: absolute;
      left: 15px;
    }
  }

  .bulk-selectors .checkbox *  {
    display: none;
  }

  .content-list {
    .content-item {
      padding: 20px 40px 25px 40px;
      border: 1px solid #ccc;
      border-width:1px 0 0 0;
      float: left;
      clear: left;
      width: 100%;
    }

    form.content-item-form {
      clear: left;

      a {
        font-size: 1.2em;
      }

      .project_content_item_taxons {
        margin: 20px 0 0;

        input.select2 {
          min-height: 34px;
          padding-left: 4px;

          &::placeholder {
            color: #aeada9;
          }
        }
      }

      &.error-saving {
        background-color: #ffb6b6;
        transition: background-color 1s;
      }
    }

    .actions {
      float: left;
      clear: left;
    }

    .actions-inline>*{
      float: left;
    }
  }

  .bulk-tagger {
    form {
      padding: 20px;
      background-color: #eee;
      margin-top: -21px;

      &.error-saving {
        background-color: #ffb6b6;
        transition: background-color 1s;
      }
    }

    .nav label {
      margin-bottom: 0;
    }

    .nav.nav-tabs .active a {
      background-color: #eee;
    }
  }
}

.flag-for-review {
  .add-left-border {
    border-left: 5px solid #ccc;
    padding: 5px 0 10px 15px;
  }
}
