$gray: #bfc1c3;

.taxonomy-tree {
  a, a:visited { color: rgb(0, 0, 238) }

  .taxon-focus {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 2em;
    margin: auto;
    font-weight: bold;
  }

  .taxon-focus--has-parents {
    border-top: 2px solid $gray;
  }

  .taxon-focus--has-children{
    border-bottom: 2px solid $gray;
  }

  .taxon-focus--has-parents:before,
  .taxon-focus--has-children:after {
     content: ".";
     color: transparent;
     position: absolute;
     overflow: hidden;
     height: 1.75em;
     width: 0;
     left: 50%;
     border-left: 2px solid $gray;
  }

  .taxon-focus--has-parents:before {
     top: 0;
  }

  .taxon-focus--has-children:after {
     bottom: 0;
  }

  .taxon-parents, .taxon-children {
    display: flex;
    justify-content: space-around;
  }

  .parent-expansion {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .child-expansion {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .taxon-depth-1 {
    font-size: 1.5rem;
  }

  .parent-expansion .taxon-depth-1 {
    margin-top: 0.5rem;
    margin-bottom: 1.75rem;
  }

  .child-expansion .taxon-depth-1 {
    margin-bottom: 0.5rem;
    margin-top: 1.75rem;
  }

  .parent-expansion .taxon-depth-1:before,
  .child-expansion .taxon-depth-1:after {
    content: ".";
    color: transparent;
    position: absolute;
    overflow: hidden;
    height: 1.25em;
    bottom: 0;
    left: 1.5em;
    width: 0;
    border-left: 2px solid $gray;
  }

  .parent-expansion .taxon-depth-1:before {
    bottom: 0;
  }

  .child-expansion .taxon-depth-1:after {
    top: 0;
  }

  // A set of classes governing the degree of indent and styling of taxons,
  // depending on their depth relative to a node in the taxonomy. The number 20
  // has no special significance. It's large enough that we're unlikely to ever
  // need to update this rule, but small enough that we don't end up generating
  // lots of unnecessary CSS.
  @for $i from 2 through 20 {
    .taxon-depth-#{$i} {
      margin-left: 1rem * $i;
      margin-top: 1rem;
      font-size: 1.2rem;
      position: relative;
      max-width: 25rem;
    }

   .parent-expansion .taxon-depth-#{$i}:before {
       content: ".";
       color: transparent;
       position: absolute;
       overflow: hidden;
       left: -0.85rem;
       width: 0.5rem;
       border-left: 1px solid #bfc1c3;
       top: 0.5rem;
       bottom: -1rem;
       border-top: 1px solid #bfc1c3;
    }

    .child-expansion .taxon-depth-#{$i}:before {
       content: ".";
       color: transparent;
       position: absolute;
       overflow: hidden;
       left: -0.85rem;
       width: 0.5rem;
       border-left: 1px solid #bfc1c3;
       top: -1.2rem;
       bottom: 1rem;
       border-bottom: 1px solid #bfc1c3;
    }
  }
}
