<h3>Facets</h3>

<%= f.input :facet_values,
    as: :grouped_select,
    collection: linkables.facet_values,
    group_method: :last,
    placeholder: "Choose one...",
    input_html: { multiple: true, class: :select2 } %>

<p class="explain">
  This facet metadata is currently being developed.
</p>
