<h3>Suggested related content items</h3>

<div class="form-group">
  <fieldset class="ordered-related-items select2-container select2-container-multi"
            data-module="related-content-tagger">
    <ul class="sortable-list select2-choices ui-sortable sortable-inputs">
      <% tagging_update.suggested_ordered_related_items.each do |base_path| %>
        <%= render "tagging_entry",
                   base_path: base_path,
                   is_template: false,
                   link_type: :suggested_ordered_related_items,
                   tagging_update: tagging_update %>
      <% end %>
    </ul>

    <div class="error-message related-item-error-message">
      Not a known URL or path on GOV.UK
    </div>
  </fieldset>
</div>

<p class="explain">
  Suggested related items are automatically-generated based on how similar a page is to other pages.
  They are displayed in the sidebar if no related items or related item overrides have been set for the page.
</p>
