<h3>Taxons</h3>

<%= f.input :taxons,
    collection: linkables.taxons,
    placeholder: "Choose one...",
    input_html: { multiple: true, class: :select2 } %>

<p class="explain">
  This taxonomy is currently being developed by the Finding Things team.
</p>
