<h3>Related content items</h3>

<div class="form-group">
  <fieldset class="ordered-related-items select2-container select2-container-multi"
            data-module="related-content-tagger">
    <ul class="sortable-list select2-choices ui-sortable sortable-inputs">
      <% tagging_update.ordered_related_items.each do |base_path| %>
        <%= render "tagging_entry",
          base_path: base_path,
          is_template: false,
          link_type: :ordered_related_items,
          tagging_update: tagging_update %>
      <% end %>
    </ul>

    <% # Hidden, empty tag used by JS to asynchronously render the related item template %>
    <div class="related-item-template hide">
      <%= render "tagging_entry",
        base_path: "",
        is_template: true,
        link_type: :ordered_related_items,
        tagging_update: tagging_update
      %>
    </div>

    <div class="add-sortable-input">
      <div class="input-group">
        <input type="text" class="form-control new-base-path" placeholder="URL or path" />
        <span class="input-group-btn">
          <button class="btn btn-default lookup-base-path-button" type="button">
            Add related item
          </button>
        </span>
      </div>
    </div>

    <div class="error-message related-item-error-message">
      Not a known URL or path on GOV.UK
    </div>
  </fieldset>
</div>

<p class="explain">
  Related items are displayed in the sidebar. Enter the URL or path of a GOV.UK
  page, such as /pay-vat or /benefit-cap-calculator
</p>
