<h3>Related content items</h3>

<%= render 'shared/path_lookup_entry_field',
  base_paths: tagging_update.ordered_related_items,
  form_field: 'tagging_tagging_update_form[ordered_related_items][]',
  field_errors: tagging_update.related_item_errors %>

<p class="explain">
  Related items are displayed in the sidebar. Enter the URL or path of a GOV.UK
  page, such as /pay-vat or /benefit-cap-calculator
</p>
