<h3>Mainstream browse pages</h3>

<%= f.input :mainstream_browse_pages,
    collection: linkables.mainstream_browse_pages, as: :grouped_select, group_method: :last,
    placeholder: "Choose mainstream_browse_pages...",
    input_html: { multiple: true, class: :select2 } %>

<p class='explain'>
  Mainstream browse pages live under <a href="https://www.gov.uk/browse">/browse</a>.
  Examples: <a href="https://www.gov.uk/browse/working">Working</a> or
  <a href="https://www.gov.uk/browse/business">Business</a>.
  They are used to organise mainstream content. Formerly called
  <i>sections and subsections</i>.
</p>
