<h3>User Needs</h3>

<%= f.input :meets_user_needs,
    collection: linkables.needs,
    placeholder: "Choose user needs...",
    input_html: { multiple: true, class: :select2 } %>

<p class='explain'>
  Needs are managed through Maslow, and the list of user needs which a
  item of content meets is displayed on the info page for that
  content.
</p>
