<h3>Topic taxonomy tags</h3>

<%= f.input :taxons,
    collection: linkables.taxons,
    placeholder: "Choose one...",
    input_html: { multiple: true, class: :select2 } %>

<p class="explain">
  Tagging to the topic taxonomy supports search filtering and content management
</p>
