<h3>Related content items (new navigation)</h3>

<%= render 'shared/path_lookup_entry_field',
  base_paths: tagging_update.ordered_related_items_overrides,
  form_field: 'tagging_tagging_update_form[ordered_related_items_overrides][]',
  field_errors: tagging_update.related_item_overrides_errors %>

<p class="explain">
  Related items override the automatically-generated items in the sidebar for users
  viewing the beta navigation. Enter the URL or path of a GOV.UK page, such as
  /national-curriculum or /free-school-transport
</p>
