<h3>Facets</h3>

<% linkables.facet_values(params[:facet_group_content_id]).each do |facet| %>
  <%= f.input :facet_values,
      collection: facet.last,
      label: facet.first,
      placeholder: "Choose one...",
      input_html: {
        class: :select2,
        id: "facets_tagging_update_form_#{facet.first.parameterize.underscore}",
        multiple: true,
      } %>
<% end %>

<p class="explain">
  This facet metadata is currently being developed.
</p>
