<h3>Facets</h3>

<% linkables.facet_values(params[:facet_group_content_id]).each do |facet| %>
  <%= f.input :facet_values,
      collection: facet.last,
      label: facet.first,
      placeholder: "Choose one...",
      input_html: { multiple: true, class: :select2 } %>
<% end %>

<p class="explain">
  This facet metadata is currently being developed.
</p>
