<div class="tag-update-preview">
  <br/>

  <div data-module="tag-update-progress">
    <% if aggregated_tag_mappings.any? %>
      <%= render partial: "tag_update_progress_bar",
        locals: {
          completed_tag_mappings: completed_tag_mappings,
          total_tag_mappings: total_tag_mappings,
          progress_path: progress_path,
        } %>
    <% end %>
  </div>

  <table class="table queries-list table-bordered table-striped" data-module="filterable-table">
    <thead>
      <tr>
        <th>Page</th>
        <th>Will be tagged to</th>
        <th>Status</th>
        <th></th>
      </tr>

      <%= render partial: "shared/table_filter" %>
    </thead>

    <tbody>
      <%= render partial: "aggregated_tag_mappings",
        locals: { aggregated_tag_mappings: aggregated_tag_mappings } %>
    </tbody>
  </table>
</div>
