<h3>Parent</h3>

<%= f.select :parent,
    options_for_select(TagFetcher.new.tags_of_type('topic'), @tagging_update.parent),
    { include_blank: true },
    { multiple: false, class: "select2", data: { placeholder: "Choose a parent (topic)..." } } %>
