<h3>Publishing organisation</h3>

<%= f.select :organisations,
    Linkables.organisations,
    {},
    { multiple: true, class: "", data: { placeholder: "Choose organisations..." } } %>

<p class='explain'>
  Tagging a page to an organisation will make it show up in search.
  Example: <a href="https://www.gov.uk/search?q=taxes&filter_organisations%5B%5D=hm-revenue-customs">search for documents published by HMRC</a>.
</p>
