<h3>Topics</h3>

<%= f.select :topics,
    Linkables.topics,
    {},
    { multiple: true, class: "select2", data: { placeholder: "Choose Topics..." } } %>

<p class='explain'>
  Topic pages live under <a href="https://www.gov.uk/topic">/topic</a>.
  They contain collections of pages on GOV.UK. Example:
  <a href="https://www.gov.uk/topic/business-tax">Business Tax</a> or
  <a href="https://www.gov.uk/topic/animal-welfare/pets">Animal Welfare / Pets</a>.
  Tagging a page with a topic will send out an
  <a href="https://www.gov.uk/topic/business-tax/vat/email-signup">email alert to subscribers</a>.
  Formerly called <i>specialist sectors</i>.
</p>
