<h3>Publishing organisation</h3>

<%= f.select :organisations,
    options_for_select(TagFetcher.new.tags_of_type('organisation'), @tagging_update.organisations),
    {},
    { multiple: true, class: "select2", data: { placeholder: "Choose organisations..." } } %>

<p class='explain'>
  Tagging a page to an organisation will make it show up in search.
  Example: <a href="https://www.gov.uk/search?q=taxes&filter_organisations%5B%5D=hm-revenue-customs">search for documents published by HMRC</a>.
</p>
