<h3>Primary mainstream browse page</h3>

<%= f.select :parent,
    linkables.mainstream_browse_pages,
    { include_blank: true },
    { multiple: false, class: "select2", data: { placeholder: "Choose a primary mainstream browse page..." } } %>

<p class='explain'>
  If the page has a breadcrumb, it will be this browse page. For example
  <a href="https://www.gov.uk/benefit-cap-calculator">the breadcrumb on this page</a>.
  You can only choose one.
</p>
