<h3>Publishing organisation</h3>

<%= f.input :organisations,
    collection: linkables.organisations,
    placeholder: "Choose organisations...",
    input_html: { multiple: true, class: :select2 } %>

<p class='explain'>
  Tagging a page to an organisation will make it show up in search.
  Example: <a href="https://www.gov.uk/search?q=taxes&filter_organisations%5B%5D=hm-revenue-customs">search for documents published by HMRC</a>.
</p>
