<div class="callout callout-info">
  <div class="callout-title">
    Tagging not possible
  </div>
  <div class="callout-body">
    We haven't migrated the tagging for this item yet. You can try to take a look in
    <%= link_to @content_item.app_responsible_for_tagging.underscore.titleize, @content_item.external_tagging_url %>.
  </div>
</div>
