<div class="callout callout-info">
  <div class="callout-title">
    Tagging not possible
  </div>
  <div class="callout-body">
    <% if @content_item.app_responsible_for_tagging %>
      We haven't migrated the tagging for this item yet. You can try to take a look in
      <%= link_to @content_item.app_responsible_for_tagging.underscore.titleize, Plek.new.find(@content_item.app_responsible_for_tagging) %>.
    <% else %>
      This page can't be tagged.
    <% end %>
  </div>
</div>
