<%= form_for @tagging_update, url: content_update_links_path do |f| %>
  <%= f.hidden_field :content_id %>
  <%= f.hidden_field :previous_version %>

  <% @tagging_update.allowed_tag_types.each do |tag_type| %>
    <div class='tag-section'>
      <%= render "form_for_#{tag_type}", f: f %>
    </div>
  <% end %>

  <hr/>
  <input type='submit' value='Update tags' class='btn btn-primary btn-lg' />
<% end %>
