<%= display_header title: @content_item.title, breadcrumbs: [link_to("Tag content", lookup_path), @content_item] %>

<div class='view-on-site'>
  View on site: <%= link_to @content_item.base_path, Plek.new.website_root + @content_item.base_path, target: "_blank" %>
</div>

<hr/>

<% if @content_item.tagging_allowed? %>
  <%= render partial: 'tagging_form', locals: { tagging_update: @tagging_update, tag_types: @tag_types }  %>
<% else %>
  <%= render 'not_migrated_yet' %>
<% end %>
