<%= display_header title: @content_item.title, breadcrumbs: [link_to("Tag content", lookup_path), @content_item] %>

<div class='view-on-site'>
  View on site: <%= link_to @content_item.base_path, website_url(@content_item.base_path), target: "_blank" %>
</div>

<hr/>

<%= render(
  partial: 'tagging_form',
  locals: {
    tagging_update: @tagging_update,
    tag_types: @tag_types,
    linkables: @linkables
  }
)
%>
