<%= display_header title: "Look up content item", breadcrumbs: ['Taggings'] %>

<%= form_for @lookup, url: find_by_slug_path do |f| %>
  <div class="form-group">
    <%= f.text_field :base_path, class: 'form-control', label: "Path or URL of content-item (eg. /book-driving-test)" %>
  </div>

  <input type='submit' value='Show content item' class='btn btn-primary btn-md' />
<% end %>
