<%= display_header title: tag_migration.source_description, breadcrumbs: [
    link_to(t('navigation.tag_search'), new_tag_search_path),
    link_to(t('navigation.tag_migration'), tag_migrations_path),
    tag_migration.source_description ] do %>
<% end %>

<% if tag_migration.state == 'ready_to_import' %>
  <%= link_to t('bulk_tagging.start_tagging'),
    tag_migration_publish_tags_path(tag_migration),
    method: :post,
    class: "btn btn-lg btn-success" %>
<% end %>

<% if tag_migration.state == "errored" %>
  <p class="alert alert-danger">
    <%= tag_migration.error_message %>
  </p>
<% end %>

<%= render "tag_update_preview",
    confirmed: confirmed,
    error_count: tag_migration.error_count,
    aggregated_tag_mappings: aggregated_tag_mappings,
    progress_path: progress_path %>
